.nanum-myeongjo-regular {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
}

.nanum-gothic-regular {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.button-purple {
    background-color: mediumpurple;
    border-color: mediumpurple;
    color: white;
}

body {
    font-family: "Nanum Gothic", sans-serif;
    overflow: hidden;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f8f9fa;
}

.navigation-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    border-bottom: #9a55b7 1px solid;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.modal-content {
    padding: 10px;
}

#detailsModalLabel {
    display: none;
}

#modalCloseButton {
    display: none;
}

.btn-purple {
    background-color: mediumpurple;
    border-color: mediumpurple;
    color: white;
}

#detailsModalBody {
    border-radius: 5px;
    border: #98A7FF 2px solid;
    color: black;
}

.forecast-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    height: 220px;
}

.card-left {
    padding-left: 10px;
}

.outer-border {
    border: 1px solid #9a55b7;
}

.hieght-100 {
    height: 100vh;
}
.width-40 {
    width: 40vw;
}

#map {
    height: 100%;
    width: 100%;
}

#daumRoughmapContainer1709271375236 > div.wrap_map {
    height: 100%;
}

#daumRoughmapContainer1709271375236 > div.wrap_map > div.map {
    height: 100%;
}

/* --- 여기부터 login style.css입니다. ---*/

/*--- 리스트 속성 ---*/
ul{
    list-style:none;
}

/*--- 로그인 콘텐츠 속성 ---*/
.login {
    width: 810px;
    position: absolute
}

/*--- login 글자 속성 ---*/
.login h2 {
    font-size: 40px;
    color: #111;
}

/*--- 로그인 안내 글 속성 ---*/
.p {
    border-bottom: 2px solid rgba(217, 217, 217, 0.9);
    height: 35px;
    margin-left: -11px;
    width: 394px;
}

/*--- 리스트 속성 ---*/
.login > ul {
    padding: 0 0 0;
}

/*--- 박스, 버튼 속성 ---*/
.login > ul li {
    padding: 0 0 12px;
}

/*--- 입력 박스 속성 ---*/
.login > ul li input {
    width: 40%;
    height:38px;
}

/*--- placeholder 스타일 ---*/
.login > ul li input::-webkit-input-placeholder {
    font-size: 16px;
    color: #9fa19f;
}

/*--- 체크박스 위치 ---*/
.login > ul li input[type="checkbox"] {
    position: absolute;
    left: -3000%;
}

.login > ul li input[type="checkbox"] + label:before {
    content: "";
    display: inline-block;
    margin:0 4px 0 0;
    width: 18px;
    height: 18px;
    border: 1px solid #666;
    background: #fff;
    vertical-align: -3px;
}

/*--- 폰트 속성 ---*/
.gugi-regular {
    font-family: "Gugi", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*--- 네비게이션 속성 ---*/
#navbar-txt {
    font-family: "Gugi", sans-serif;
    font-size: 30px;
    background: linear-gradient(90deg, mediumpurple, hotpink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

    /*--- 로그인 유지 체크박스 속성 ---*/
.login > ul li input[type="checkbox"]:checked + label:before {
    background: url(./asset/7.png) no-repeat;
    border: none;
    background-position: center;
    background-size: contain;
}

/*--- 로그인하기 버튼 속성 ---*/
.login button {
    width: 40%;
    height: 40px;
    border: 1px solid #d56dff;
    /*border: 1px solid #534A99;*/
    border-radius: 5px;
    background: #d56dff;
    /*background: #534A99;*/
    background: #d56dff;
    color: #fff;
}

.login div ul {
    display: flex;
    justify-content: left;
}

.login div ul li {
    padding: 0 10px;
}

.login div ul li a {
    font-size: 14px;
    color: #111;
}

#cardSection {
    margin: 10px;
}

#cardSection .card {
    margin: 10px;
    padding: 0px;
    border : 1px solid #d56dff

}

.gradation-background {
    background: linear-gradient(90deg, mediumpurple, hotpink);
}

.section_search {
    padding: 30px 20px 5px 20px;
    /*background-color: #c738ff;*/

    /*for gradation test*/

    position: relative;
    padding-bottom: 10px;

}
#cardSection {
    background: white;
    margin: 0;
}

.section_search #destinationInput{
    border-radius: 10px;
    padding-left: 10px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1); /* 그림자 효과 설정 */
    border: 2px solid #fff; /* 테두리 색상을 연한 회색으로 변경 */
    outline: none;
}

#destinationInput::placeholder{
    padding-left: 10px;
}

.section_search button{
    margin: 0;
    border: none;
    position: absolute;
    width: 30px;
    height:30px;
    right: 10px;
    margin-top: 5px;
    margin-right:15px;
    background: url("https://i.ibb.co/k6tmJVT/image.png") no-repeat;
    background-size: contain;
}

.section_searchResult{
    padding:10px;
    max-height: 70%; /* 섹션의 최대 높이 설정 */
    overflow-y: auto; /* 섹션 내용이 섹션 크기를 벗어날 때 수직 스크롤을 보여줌 */
}
.section_searchResult p{
    font-size: 40px;
}

.rangeDropdown{
    /*background-color: #d56dff;*/
    padding: 10px 10px 20px 10px;
}

.rangeDropdownBtn{
    background-color: purple;
    border: 0;
    margin-left: 10px;
    padding-left: 10px;
    width: 120px;
    height: 30px;
    font-size: 11px;
}


.parking-info {
    border-top: 1px solid #dddddd; /* 위쪽에 1px 실선 경계선 추가 */
    border-bottom: 1px solid #dddddd; /* 아래쪽에 1px 실선 경계선 추가 */
    padding: 10px 0; /* 상하 여백 추가 */
}

.parking-info .parking-lot {
    text-decoration: underline; /* 주차면에 밑줄 추가 */
    color:red;
}

.parking-info:hover {
    background-color: #e0f2f1; /* 마우스를 올렸을 때 배경색 변경 */
}

.parking-info:active {
    background-color: #80cbc4; /* 클릭되었을 때 배경색 변경 */
}

/* --- 여기서부터 마이페이지에 쓰인 css입니다 ---*/
/*마이페이지 오프캔버스(사이드바) 헤더*/
.offcanvas-header {
    background: linear-gradient(90deg, mediumpurple, hotpink);
}

/*유저 프로필 표시*/
.user-profile {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    float: left;
}

/*유저 닉네임 및 로그아웃 버튼 표시*/
.user-status {
    margin-left: 100px;
    line-height: 80px;
    font-weight: bold;
    font-size: 20px;
}

/*회색 border 박스*/
.gray-box {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 15px 20px;
    margin-top: 3px;
}

/*회색 border 박스(패딩이 더 들어감)*/
.gray-box2 {
    border: 1px solid lightgray;
    padding: 30px 50px;
    display: flex;
}

/*텍스트(왼쪽 패딩 들어감)*/
.text {
    margin: auto 0 auto 30px;
}

/*텍스트 굵게*/
.bold-text {
    font-size: 18px;
    font-weight: bold;
}

/*작은 텍스트*/
.small-text {
    font-weight: normal;
    font-size: 14px;
    color: gray;
}

/*오른쪽 화살표 아이콘*/
.right-arrow {
    background: none;
    border: none;
    float: right;
}

/*왼쪽 화살표 아이콘*/
.left-arrow {
    background: none;
    border: none;
    float: left;
}

/*플러스, 마이너스 아이콘*/
.plus, .minus {
    background: none;
    border: none;
    float: left;
    font-size: 25px;
}

/*로그아웃 아이콘*/
.logout {
    background: none;
    border: none;
    float: right;
    margin-right: 20px;
}

/*탈퇴 성공 아이콘*/
.quit-success {
    color: #2db400;
    font-size: 50px;
}

/*헤더 부분*/
.header{
    margin: 20px 0px;
    text-align: center;
    font-weight: bold;
}

/*구역을 나누는 회색 파티션*/
.gray-partition {
    width: 100%;
    height: 20px;
    /*background: #f1f3f5;*/
    background: #f5f6f7;
}

/*구역을 나누는 회색 파티션(높이 자동)*/
.gray-partition2 {
    width: 100%;
    height: auto;
    /*background: #f1f3f5;*/
    background: #f5f6f7;
}

/*테이블 너비, 간격*/
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: separate;
    border-spacing: 10px;
}

/*회색 둥근 테두리 입력 칸*/
.gray-input{
    width: 100%;
    height: 35px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

/*!*파란 버튼*!*/
/*.button {*/
/*    width: 50%;*/
/*    padding: 20px;*/
/*    !*line-height: 0px;*!*/
/*    background: royalblue;*/
/*    color: white;*/
/*    border: none;*/
/*}*/

/*회색 라인(수평)*/
.line {
    border-bottom: 1px solid lightgray;
}

/*회색 라인(수직)*/
.v-line {
    border-left : 1px solid lightgray;
    height : 50px;
}

/*select 가리는 옵션*/
select option[value=""][disabled] {
    display: none;
}

/*토글 스위치*/
.toggleSwitch {
    width: 70px;
    height: 35px;
    position: relative;
    border: lightgray 1px solid;
    border-radius: 30px;
    background: royalblue;
}

.toggleSwitch .toggleButton {
    width: 38px;
    height: 38px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    border: lightgray 1px solid;
    border-radius: 50%;
    background: white;
}

#toggle:checked ~ .toggleSwitch {
    background: white;
}

#toggle:checked ~ .toggleSwitch .toggleButton {
    left: calc(50% - 37px);
    background: white;
}

.toggleSwitch, .toggleButton {
    transition: all 0.1s ease-in;
}

/*오른쪽 끝으로 나열*/
.right-array {
    display: flex;
    margin-left: auto;
}

/*테두리 둥글게*/
.border-radius {
    border: 1px solid lightgray;
    border-radius: 5px;
}

/*hr 길이 조절*/
.hr-width {
    width: 40%;
}

/*회색 배경*/
.gray-bg {
    background-color: #f5f6f7;
}

/*진한 보라색*/
#dark-purple {
    color: #9a55b7;
    /*color: #d56dff;*/
}

.spinner-border {
    position: relative;
}

#id8a7fe3873ef63 {
    display: none;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.toast {
    z-index: 9999;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.bg-white {
    background-color: white;
}

.section_title {
    padding-left: 20px;
    margin-bottom: 0px;
    font-weight: bold;
}

.section_alert {
    padding-left: 20px;
    margin: 0;
    font-weight: bold;
}

.btn-33{

    width: 33px;
    height: 33px;
    display: inline-block;
}

.btn-33 i {
    display: flex;
justify-content: center;
}



.margin-left-10{
    margin-left: 10px;
}

#left-column {
    overflow: scroll;
}


