.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.modal-content {
    padding: 10px;
}

#detailsModalLabel {
    display: none;
}

#modalCloseButton {
    display: none;
}

#detailsModalBody {
    border-radius: 5px;
    border: #98A7FF 2px solid;
    color: black;
}


.outer-border {
    border: 1px solid #000;
}

.hieght-100 {
    height: 100vh;
}
.width-40 {
    width: 40vw;
}

#map {
    height: 100%;
    width: 100%;
}

#daumRoughmapContainer1709271375236 > div.wrap_map {
    height: 100%;
}

#daumRoughmapContainer1709271375236 > div.wrap_map > div.map {
    height: 100%;
}

/* --- login style.css ---*/
ul{
    list-style:none;
}
.login {
    width: 810px;
    position: absolute
}
.login h2 {
    font-size: 40px;
    color: #111;
}
.p {
    border-bottom: 2px solid rgba(217, 217, 217, 0.9);
    height: 35px;
    margin-left: -11px;
    width: 394px;
}
.login > ul {
    padding: 0 0 0;
}
.login > ul li {
    padding: 0 0 12px;
}
.login > ul li input {
    width: 40%;
    height:38px;
}
.login > ul li input::-webkit-input-placeholder {
    font-size: 16px;
    color: #9fa19f;
}
.login > ul li input[type="checkbox"] {
    position: absolute;
    left: -3000%;
}
.login > ul li input[type="checkbox"] + label:before {
    content: "";
    display: inline-block;
    margin:0 4px 0 0;
    width: 18px;
    height: 18px;
    border: 1px solid #666;
    background: #fff;
    vertical-align: -3px;
}
.login > ul li input[type="checkbox"]:checked + label:before {
    background: url(./asset/7.png) no-repeat #333;
    border-color: #333;
    background-position: center;
    background-size: contain;
}
.login button {
    width: 40%;
    height: 40px;
    border-color: rgb(255, 255, 255);
    background: #B29F9F;
    color: #fff;
}
.login div ul {
    display: flex;
    justify-content: left;
}
.login div ul li {
    padding: 0 10px;
}
.login div ul li a {
    font-size: 14px;
    color: #111;
}


.section_search {
    padding: 30px 20px;
    background-color: dodgerblue;
    position: relative;

}

.section_search #destinationInput{
    border-radius: 10px;
    padding-left: 10px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1); /* 그림자 효과 설정 */
    border: 2px solid #fff; /* 테두리 색상을 연한 회색으로 변경 */
    outline: none;
}

#destinationInput::placeholder{
    padding-left: 10px;
}

.section_search button{
    margin: 0;
    border: none;
    position: absolute;
    width: 30px;
    height:30px;
    right: 10px;
    margin-top: 5px;
    margin-right:15px;
    background: url("https://i.ibb.co/k6tmJVT/image.png") no-repeat;
    background-size: contain;
}

.section_searchResult{
    padding:10px;
    max-height: 70%; /* 섹션의 최대 높이 설정 */
    overflow-y: auto; /* 섹션 내용이 섹션 크기를 벗어날 때 수직 스크롤을 보여줌 */
}
.section_searchResult p{
    font-size: 40px;
}
.parking-info {
    border-top: 1px solid #dddddd; /* 위쪽에 1px 실선 경계선 추가 */
    border-bottom: 1px solid #dddddd; /* 아래쪽에 1px 실선 경계선 추가 */
    padding: 10px 0; /* 상하 여백 추가 */
}

.parking-info .parking-lot {
    text-decoration: underline; /* 주차면에 밑줄 추가 */
    color:red;
}

.parking-info:hover {
    background-color: #e0f2f1; /* 마우스를 올렸을 때 배경색 변경 */
}

.parking-info:active {
    background-color: #80cbc4; /* 클릭되었을 때 배경색 변경 */
}

/* --- 여기서부터 마이페이지에 쓰인 css입니다 ---*/

.user-profile {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    float: left;
}

.user-status {
    margin-left: 100px;
    line-height: 80px;
    font-weight: bold;
    font-size: 20px;
}

.box {
    border: 1px solid lightgray;
    padding: 15px 20px;
}

.box2 {
    border: 1px solid lightgray;
    padding: 30px 50px;
    display: flex;
}

.text {
    margin: auto 0 auto 30px;
}

.bold-text {
    font-size: 18px;
    font-weight: bold;
}

.small-text {
    font-weight: normal;
    font-size: 14px;
    color: gray;
}

.right-arrow{
    background: none;
    border: none;
    float: right;
}

.left-arrow {
    background: none;
    border: none;
    float: left;
}

.plus, .minus {
    background: none;
    border: none;
    float: left;
    font-size: 25px;
}

.logout {
    background: none;
    border: none;
    float: right;
    margin-right: 20px;
}

.header{
    margin: 20px 0;
    text-align: center;
    font-weight: bold;
}

.gray-partition {
    width: 100%;
    height: 20px;
    background: #f1f3f5;
}

.gray-partition2 {
    height: 100vh;
    width: 100%;
    background: #f1f3f5;
}

form {
    border: 1px solid lightgray;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: separate;
    border-spacing: 10px;
}

input, select{
    width: 100%;
    height: 35px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.button {
    width: 50%;
    padding: 20px;
    line-height: 0px;
    background: royalblue;
    color: white;
    border: none;
}

.line {
    border-bottom: 1px solid lightgray;
}

.v-line {
    border-left : 1px solid lightgray;
    height : 50px;
}

select option[value=""][disabled] {
    display: none;
}

.toggleSwitch {
    width: 70px;
    height: 35px;
    position: relative;
    border: lightgray 1px solid;
    border-radius: 30px;
}

.toggleSwitch .toggleButton {
    width: 38px;
    height: 38px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: lightgray 1px solid;
    border-radius: 50%;
    background: white;
}

#toggle:checked ~ .toggleSwitch {
    background: royalblue;
}

#toggle:checked ~ .toggleSwitch .toggleButton {
    left: calc(100% - 37px);
    background: white;
}

.toggleSwitch, .toggleButton {
    transition: all 0.1s ease-in;
}

.right-array {
    display: flex;
    margin-left: auto;
}